<div class="container-fluid">
    <h1>Tus pedidos</h1>
    <table class="table table-info table-bordered">
        <thead>
            <tr>
                <th>Id cubo</th>
                <th>Id Pedido</th>
                <th>Id user</th>
                <th>Fecha pedido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
