<div class="container-fluid">
    <h1 class="text-center text-muted">Mostrando cubos de la marca <span class="text-primary">{{marca}}</span></h1>
    <div *ngIf="cubosMarca" class="row">
        <div *ngFor="let cubo of cubosMarca" class="card" style="width: 18rem;">
            <img src="{{cubo.imagen}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{cubo.nombre}}</h5>
              <p class="card-text">{{cubo.precio}}€</p>
              <a [routerLink]="['/detallecubo', cubo.idCubo]" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
<div class="container-fluid">
    <img class="img-fluid" src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif"/>
</div>
